:root {
    --md-primary-fg-color:        #fc9515;
    --md-primary-fg-color--light: #fc9515;
    --md-primary-fg-color--dark:  #fc9515;
    --md-accent-fg-color:         #F04E0E;
    --md-accent-fg-color--light:  #F04E0E;
    --md-accent-fg-color--dark:   #F04E0E;
  }